@import 'tailwindcss';

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme {
  --breakpoint-md: 744px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1440px;

  --color-primary: #08141e;
  --color-mint-900: #70d7bf;
  --color-mint-700: #8ddfcc;
  --color-midnight-900: #05141f;
  --color-midnight-100: #cdd0d2;
  --color-red: #ff0900;
  --color-blue: #4296e4;
  --color-black-300: #9ba1a5;
  --color-gray-700: #37434c;
  --color-gray-500: #697278;
  --color-gray-400: #82898f;
  --color-gray-300: #b4b9bc;
  --color-gray-200: #cdd0d2;
  --color-gray-100: #e6e8e9;
  --color-gray-50: #f6f6f9;
  --color-gray-10: #f8f8f8;

  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --spacing-xxs: 0.25rem; /* 4px */
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-sm: 1rem; /* 16px */
  --spacing-md: 1.5rem; /* 24px */
  --spacing-lg: 2rem; /* 32px */
  --spacing-xl: 3rem; /* 48px */
  --spacing-2xl: 4rem; /* 64px */
  --spacing-3xl: 5rem; /* 80px */

  --leading-tight: 1.25; /* 20px */
  --leading-snug: 1.375; /* 22px */
  --leading-normal: 1.5; /* 24px */
  --leading-relaxed: 1.625; /* 26px */
  --leading-loose: 2; /* 32px */

  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.875rem; /* 30px */
  --text-4xl: 2.25rem; /* 36px */
  --text-5xl: 3rem; /* 48px */
  --text-6xl: 3.75rem; /* 60px */
  --text-7xl: 4.5rem; /* 72px */
  --text-8xl: 6rem; /* 96px */
  --text-9xl: 8rem; /* 128px */
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.responsive-body-default {
  @apply text-sm md:text-base leading-normal;
}

.responsive-body-small {
  @apply text-xs md:text-base lg:text-lg xl:text-xl;
}

.responsive-sub-title-default {
  @apply text-sm md:text-base lg:text-lg xl:text-xl leading-normal leading-relaxed font-medium;
}

.responsive-heading-01 {
  @apply text-2xl md:text-3xl lg:text-[40px] xl:text-5xl font-bold leading-[1.4];
}

.responsive-heading-02 {
  @apply text-xl md:text-2xl font-bold leading-[1.4];
}

.responsive-heading-04 {
  @apply text-base md:text-lg lg:text-xl xl:text-2xl font-semibold;
}

.responsive-sub-small {
  @apply text-xs md:text-sm text-gray-400 leading-tight;
}

.responsive-btn-xxlg {
  @apply text-base lg:text-lg font-bold;
}

.side-padding {
  @apply px-md md:px-xl;
}
